@tailwind base;
@tailwind components;
@tailwind utilities;

animacion{
    animation: animacion 0.3s ease-in;
}
*{
    scroll-behavior: smooth;
    
}
@keyframes animacion {
    from{
        background-color: red!important;
    }to{
        background-color: #222!important;
    }
}

.textEspecial{
    font-family: monospace!important;
}
.animationDelay{
    animation-delay: 0.3s!important;
}
.imagenDeFondoContacto{
    background-image: url(/src/res/campo_cantacto.jpeg);
}