@tailwind base;
@tailwind components;
@tailwind utilities;

animacion{
    animation: animacion 0.3s ease-in;
}

@keyframes animacion {
    from{
        background-color: red!important;
    }to{
        background-color: #222!important;
    }
}